USE [master]
GO
/****** Object:  Database [LinakisProject]    Script Date: 5/13/2023 6:11:25 PM ******/
CREATE DATABASE [LinakisProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LinakisProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LinakisProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LinakisProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LinakisProject_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LinakisProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LinakisProject]
GO
/****** Object:  Table [dbo].[Page]    Script Date: 5/13/2023 6:11:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Page](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Page] ON 

INSERT [dbo].[Page] ([Id], [Title]) VALUES (1, N'Technology')
INSERT [dbo].[Page] ([Id], [Title]) VALUES (2, N'Business')
INSERT [dbo].[Page] ([Id], [Title]) VALUES (3, N'Miscellaneous')
SET IDENTITY_INSERT [dbo].[Page] OFF
GO
USE [master]
GO
